<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign Up | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="assets/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="assets/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body class="signup-page back">
    <div class="signup-box">
        <div class="card">
            <div class="body">
                <form id="sign_up" action="~/index.cshtml" method="POST">
                    <div class="msg"><img src="assets/images/logo.png" class="img-responsive" /></div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="Nome" placeholder="Nome Completo" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="Apelido" placeholder="Apelido" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" name="Email" placeholder="Endereço de Email Válido" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="Pass" minlength="6" placeholder="Senha" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="Confirm" minlength="6" placeholder="Confirme Sua Senha" required>
                        </div>
                    </div>
                    <button class="btn btn-block btn-lg bg-green waves-effect" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Jquery Core Js -->
    <script src="Assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="Assets/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="Assets/plugins/node-waves/waves.js"></script>
    <!-- Validation Plugin Js -->
    <script src="Assets/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="Assets/plugins/jquery-validation/localization/messages_pt_BR.js"></script>
    <!-- Custom Js -->
    <script src="Assets/js/admin.js"></script>
    <script src="Assets/js/pages/examples/sign-up.js"></script>
</body>
</html>